# DAT210x - Programming with Python for DS

## Module2 - Lab3

In [1]:
# Import and alias Pandas
import pandas as pd

Often, you will want to load a dataset that is missing explicit header labels. You won't know if your data lacks headers or not unless you load it up and examine the headers to see if they make sense. Pandas by default reads in the first row of data as the header. If that isn't the case for your specific data set, you will lose your first data row. Be careful!

Load up the `Servo.data` dataset. Examine the headers, and adjust them as necessary, if need be.

In [2]:
df = pd.read_csv("servo.data", header=None)
df

     0  1  2  3         4
0    E  E  5  4  0.281251
1    B  D  6  5  0.506252
2    D  D  4  3  0.356251
3    B  A  3  2  5.500033
4    D  B  6  5  0.356251
..  .. .. .. ..       ...
162  B  C  3  2  4.499986
163  B  E  3  1  3.699967
164  C  D  4  3  0.956256
165  A  B  3  2  4.499986
166  A  A  6  5  0.806255

[167 rows x 5 columns]

In [3]:
f = open("servo.txt")
print(f.read())

1. Title: Servo Data

2. Sources
   (a) Created by: Karl Ulrich (MIT) in 1986
   (b) Donor: Ross Quinlan
   (c) Date: May 1993

3. Past Usage:

   1.  Quinlan, J.R., "Learning with continuous classes", Proc. 5th Australian
       Joint Conference on AI (eds A. Adams and L. Sterling), Singapore: World
       Scientific, 1992

   2.  Quinlan, J.R., "Combining instance-based and model-based learning",
       Proc. ML'93 (ed P.E. Utgoff), San Mateo: Morgan Kaufmann 1993

       Results on 10-way cross-validation:

       Method			Average		Relative
       ------			 |Err|		 Error
 				-------		--------

       Guessing mean		  1.15		  1.00
       Instance-based		   .52		   .26
       Regression		   .86		   .49
       Model trees		   .45		   .29
       Neural nets (G. Hinton)	   .30		   .11
       Regression+instances	   .48		   .20
       Model trees+instances	   .30		   .17
       NN+instances		   .29		   .11

4. Relevant Information:

   Ross Quinlan:

   This data was given to me by Karl Ulrich at MIT in 1986.  I didn't
   record his description at the time, but here's his subsequent (1992)
   recollection:

     "I seem to remember that the data was from a simulation of a servo
     system involving a servo amplifier, a motor, a lead screw/nut, and a
     sliding carriage of some sort.  It may have been on of the
     translational axes of a robot on the 9th floor of the AI lab.  In any
     case, the output value is almost certainly a rise time, or the time
     required for the system to respond to a step change in a position set
     point."

   (Quinlan, ML'93)

   "This is an interesting collection of data provided by Karl
    Ulrich.  It covers an extremely non-linear phenomenon - predicting the
    rise time of a servomechanism in terms of two (continuous) gain settings
    and two (discrete) choices of mechanical linkages."

5. Number of Instances: 167

6. Number of Attributes: 4 + numeric class attribute

7. Attribute information:

   1. motor: A,B,C,D,E
   2. screw: A,B,C,D,E
   3. pgain: 3,4,5,6
   4. vgain: 1,2,3,4,5
   5. class: 0.13 to 7.10

8. Missing Attribute Values: None

In [4]:
df.rename(columns={0:'motor',1:'screw',2:'pgain',3:'vgain',4:'class'},inplace=True)

In [5]:
df

    motor screw  pgain  vgain     class
0       E     E      5      4  0.281251
1       B     D      6      5  0.506252
2       D     D      4      3  0.356251
3       B     A      3      2  5.500033
4       D     B      6      5  0.356251
..    ...   ...    ...    ...       ...
162     B     C      3      2  4.499986
163     B     E      3      1  3.699967
164     C     D      4      3  0.956256
165     A     B      3      2  4.499986
166     A     A      6      5  0.806255

[167 rows x 5 columns]

Let's try experimenting with some slicing. Create a slice that contains all entries that have a vgain equal to 5. Then print the length of (# of samples in) that slice:

In [6]:
v5 = df[df.vgain==5]

In [7]:
v5

    motor screw  pgain  vgain     class
1       B     D      6      5  0.506252
4       D     B      6      5  0.356251
8       C     A      6      5  0.768754
10      B     E      6      5  0.468752
22      B     C      6      5  0.468752
24      A     B      6      5  0.581253
25      E     C      6      5  0.393752
34      C     C      6      5  0.506252
38      C     B      6      5  0.543753
50      D     A      6      5  0.431252
70      B     A      6      5  0.806255
73      A     E      6      5  0.506252
81      A     C      6      5  0.506252
84      E     A      6      5  0.581253
95      A     D      6      5  0.506252
108     E     B      6      5  0.431252
112     C     D      6      5  0.468752
117     E     D      6      5  0.318751
132     E     E      6      5  0.281251
135     B     B      6      5  0.543753
161     C     E      6      5  0.468752
166     A     A      6      5  0.806255

In [8]:
len(v5)

22

Create a slice that contains all entries having a motor equal to E and screw equal to E. Then print the length of (# of samples in) that slice:

In [9]:
motore = df[df.motor=='E']

In [10]:
motore

    motor screw  pgain  vgain     class
0       E     E      5      4  0.281251
5       E     C      4      3  0.806255
11      E     C      5      4  0.393752
13      E     C      3      1  1.100000
15      E     B      3      2  1.899990
20      E     D      4      3  0.918755
25      E     C      6      5  0.393752
35      E     E      3      2  1.100000
37      E     C      4      2  0.131250
47      E     D      4      2  0.431252
58      E     A      3      2  6.900098
60      E     B      4      2  0.581253
61      E     A      5      4  0.581253
62      E     B      5      4  0.431252
76      E     C      4      1  0.281251
79      E     D      3      2  1.299997
80      E     A      3      1  7.100108
84      E     A      6      5  0.581253
86      E     E      4      3  0.843755
96      E     D      3      1  0.900001
106     E     B      4      1  1.181243
108     E     B      6      5  0.431252
114     E     A      4      3  1.218740
117     E     D      6      5  0.318751
118     E     A      4      2  0.993756
130     E     D      5      4  0.318751
132     E     E      6      5  0.281251
140     E     E      4      2  0.506252
145     E     C      3      2  1.499995
149     E     A      4      1  0.881255
151     E     E      3      1  0.700001
153     E     B      3      1  1.499995
156     E     B      4      3  0.993756

In [11]:
screwe = motore[motore.screw == 'E']

In [12]:
screwe

    motor screw  pgain  vgain     class
0       E     E      5      4  0.281251
35      E     E      3      2  1.100000
86      E     E      4      3  0.843755
132     E     E      6      5  0.281251
140     E     E      4      2  0.506252
151     E     E      3      1  0.700001

In [13]:
len(screwe)

6

Create a slice that contains all entries having a pgain equal to 4. Use one of the various methods of finding the mean vgain value for the samples in that slice. Once you've found it, print it:

In [14]:
pgain4 = df[df.pgain == 4]
pgain4.mean()

pgain    4.000000
vgain    2.060606
class    0.673298
dtype: float64

Here's a bonus activity for you. See what happens when you display the `.dtypes` property of your dataframe!

In [16]:
df.dtypes

motor     object
screw     object
pgain      int64
vgain      int64
class    float64
dtype: object