# DAT210x - Programming with Python for DS

## Module2 - Lab5

Import and alias Pandas:

In [1]:
import pandas as pd

As per usual, load up the specified dataset, setting appropriate header labels.

In [2]:
header = ['education', 'age', 'capital-gain', 'race', 'capital-loss', 'hours-per-week', 'sex', 'classification']
df = pd.read_csv("census.data", header=None, names=header)
df

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,39,2174,White,0,40,Male,<=50K
1,Bachelors,50,?,White,0,13,Male,<=50K
2,HS-grad,38,?,White,0,40,Male,<=50K
3,11th,53,?,Black,0,40,Male,<=50K
4,Bachelors,28,0,Black,0,40,Female,<=50K
...,...,...,...,...,...,...,...,...
29531,Some-college,22,0,White,0,40,Male,<=50K
29532,HS-grad,40,0,White,0,40,Male,>50K
29533,HS-grad,58,0,White,0,40,Female,<=50K
29534,HS-grad,22,0,White,0,20,Male,<=50K
29535,HS-grad,52,15024,White,0,40,Female,>50K

Excellent.

Now, use basic pandas commands to look through the dataset. Get a feel for it before proceeding!

Do the data-types of each column reflect the values you see when you look through the data using a text editor / spread sheet program? If you see `object` where you expect to see `int32` or `float64`, that is a good indicator that there might be a string or missing value or erroneous value in the column.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29536 entries, 0 to 29535
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   education       29536 non-null  object
 1   age             29536 non-null  int64
 2   capital-gain    29536 non-null  object
 3   race            29536 non-null  object
 4   capital-loss    29536 non-null  int64
 5   hours-per-week  29536 non-null  int64
 6   sex             29536 non-null  object
 7   classification  29536 non-null  object
dtypes: int64(3), object(5)
memory usage: 2.0+ MB

Try use `your_data_frame['your_column'].unique()` or equally, `your_data_frame.your_column.unique()` to see the unique values of each column and identify the rogue values.

If you find any value that should be properly encoded to NaNs, you can convert them either using the `na_values` parameter when loading the dataframe. Or alternatively, use one of the other methods discussed in the reading.

In [4]:
df[['education', 'age', 'capital-gain', 'race', 'capital-loss', 'hours-per-week', 'sex', 'classification']].nunique()

education          13
age                73
capital-gain      119
race                5
capital-loss       91
hours-per-week     94
sex                 2
classification      2
dtype: int64

Look through your data and identify any potential categorical features. Ensure you properly encode any ordinal and nominal types using the methods discussed in the chapter.

Be careful! Some features can be represented as either categorical or continuous (numerical). If you ever get confused, think to yourself what makes more sense generally---to represent such features with a continuous numeric type... or a series of categories?

In [5]:
# .. your code here ..

Lastly, print out your dataframe!

In [7]:
# .. your code here ..