In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

import xgboost as xgb
from xgboost import XGBClassifier, XGBRegressor
from xgboost import to_graphviz, plot_importance

from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import _hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingRegressor, HistGradientBoostingRegressor
%matplotlib inline

from sklearn.model_selection import cross_val_score, train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler
from sklearn.metrics import confusion_matrix, classification_report, mean_absolute_error, mean_squared_error,r2_score
from sklearn.metrics import plot_confusion_matrix, plot_precision_recall_curve, plot_roc_curve

import keras
from keras.models import save_model, Sequential
from keras.layers import Activation, BatchNormalization, Dense
from keras.optimizers import Adam

pd.options.display.max_columns= None
#pd.options.display.max_rows = None

Using TensorFlow backend.

### Data Exploration

In [6]:
df = pd.read_csv("life_expectancy.csv",low_memory=False,sep='\t')

In [7]:
df

    Year  WhiteMale  WhiteFemale  BlackMale  BlackFemale
0   1900       46.6         48.7       32.5         33.5
1   1950       66.5         72.2       59.1         62.9
2   1960       67.4         74.1       61.1         66.3
3   1970       68.0         75.6       60.0         68.3
4   1975       69.5         77.3       62.4         71.3
5   1980       70.7         78.1       63.8         72.5
6   1981       71.1         78.4       64.5         73.2
7   1982       71.5         78.7       65.1         73.6
8   1983       71.6         78.7       65.2         73.5
9   1984       71.8         78.7       65.3         73.6
10  1985       71.8         78.7       65.0         73.4
11  1986       71.9         78.8       64.8         73.4
12  1987       72.1         78.9       64.7         73.4
13  1988       72.2         78.9       64.4         73.2
14  1989       72.5         79.2       64.3         73.3
15  1990       72.7         79.4       64.5         73.6
16  1991       72.9         79.6       64.6         73.8
17  1992       73.2         79.8       65.0         73.9
18  1993       73.1         79.5       64.6         73.7
19  1994       73.3         79.6       64.9         73.9
20  1995       73.4         79.6       65.2         73.9
21  1996       73.9         79.7       66.1         74.2
22  1997       74.3         79.9       67.2         74.7
23  1998       74.5         80.0       67.6         74.8
24  1999       74.6         79.9       67.8         74.7
25  2000       74.7         79.9       68.2         75.1
26  2001       74.9         80.0       68.5         75.3
27  2002       74.9         80.1       68.7         75.4
28  2003       75.1         80.2       68.9         75.7
29  2004       75.5         80.5       69.4         76.1
30  2005       75.5         80.5       69.5         76.2
31  2006       75.8         80.7       69.9         76.7
32  2007       76.0         80.9       70.3         77.0
33  2008       76.1         80.9       70.9         77.3
34  2009       76.4         81.2       71.4         77.7
35  2010       76.5         81.3       71.8         78.0
36  2011       76.6         81.3       72.2         78.2
37  2012       76.7         81.4       72.3         78.4
38  2013       76.7         81.4       72.3         78.4
39  2014       76.7         81.4       72.5         78.4

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         40 non-null     int64
 1   WhiteMale    40 non-null     float64
 2   WhiteFemale  40 non-null     float64
 3   BlackMale    40 non-null     float64
 4   BlackFemale  40 non-null     float64
dtypes: float64(4), int64(1)
memory usage: 1.7 KB

In [9]:
df.describe()

              Year  WhiteMale  WhiteFemale  BlackMale  BlackFemale
count    40.000000  40.000000    40.000000  40.000000    40.000000
mean   1991.250000  72.730000    78.592500  65.912500    73.262500
std      20.536085   4.968681     5.200561   6.422284     7.157592
min    1900.000000  46.600000    48.700000  32.500000    33.500000
25%    1984.750000  71.800000    78.700000  64.575000    73.400000
50%    1994.500000  73.350000    79.650000  65.250000    73.900000
75%    2004.250000  75.500000    80.500000  69.425000    76.125000
max    2014.000000  76.700000    81.400000  72.500000    78.400000

In [10]:
df.isnull().sum()

Year           0
WhiteMale      0
WhiteFemale    0
BlackMale      0
BlackFemale    0
dtype: int64

In [11]:
df.duplicated().sum()

0

In [12]:
df.shape

(40, 5)

In [13]:
df.corr()

                 Year  WhiteMale  WhiteFemale  BlackMale  BlackFemale
Year         1.000000   0.974154     0.913907   0.960635     0.940429
WhiteMale    0.974154   1.000000     0.975164   0.987974     0.985009
WhiteFemale  0.913907   0.975164     1.000000   0.956689     0.994656
BlackMale    0.960635   0.987974     0.956689   1.000000     0.975922
BlackFemale  0.940429   0.985009     0.994656   0.975922     1.000000